#library {
    display: flex;
    gap: 8px;
}

.book {
    flex-basis: 8rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

.hidden {
    display: none;
}